{% extends "base.html" %}

{% block title %} View Details {% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <h1>Welcome {{user.username}}</h1>

        <form action="/account/details" method='GET'>
            {% csrf_token %}
            {% for i in editable_data %}
                <p><b>{{i}}:</b> {{editable_data|get_item:i}}</p>
                <input type="text" name="{{i}}" placeholder="Set {{i}}"/>
                <br />
            {% endfor %}

            <button type='submit'>Update Profile</button>
        </form>

        <p style="margin-left: 16%"> ------------------------------------------------------------- </p>

        {% for i in non_editable_data %}
            <p><b>{{i}}:</b> {{non_editable_data|get_item:i}}</p>
        {% endfor %}

    {% else %}
        <h3>You are not authenticated</h3>
    {% endif %}

{% endblock %}
